.contador-div{
    width:400px !important;
    background-color: coral;
    padding-bottom: 20px;
    border-radius: 15px;
}

.contador-num{
    font-size: 2.5em;
}

.contador-margin{
    margin-right:10px;
}